.footer-social__link {
  background: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--hover-focus-color-link);
    outline: none;
  }
}
.footer-social__icon {
  fill: #ffffff;
}
