.team {
  background: #f5f4fa;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    @extend %title-group;
  }
  &__photo {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__wraper {
    background-color: var(--body-background);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__position {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }
  .social__link:hover &__social__icon,
  .social__link:focus &__social__icon {
    fill: var(--body-background);
  }
  &__social__icon {
    fill: #afb1b8;
  }
}
