:root {
  --brand-color: #2196f3;
  --body-background: #ffffff;
  --body-color: #212121;
  --hover-focus-color-link: #2196f3;
  --tel-mail-footer-color: rgba(255, 255, 255, 0.6);
  --tel-mail-header-color: #757575;
  --footer-background: #2f303a;
  --indent: 30px;
  --items: 4;
  --color-icons: #757575;
  --animation-duration: 250ms;
}
